<!doctype html>
<title>Welcome to PyBC</title>
<h1>Welcome to PyBC</h1>
<b>Your UID:</b> {{ uid }}<br><br>
<u>Menu:</u><br>
<a href="/topology/">Show the network topology</a><br>
<a href="/topology/new">Register to the network topology</a><br>
<a href="/transactions/">List of unverified transactions</a><br>
<a href="/transactions/new">Register a new transaction</a><br>