<!doctype html>
<title>Send money</title>
<h1>Send money</h1>
<form action="/transactions/send/" method="get">
        Send to: <input type="text" name="to"><br>
        Amount: <input type="text" name="amount"><br>
        Transaction ID: <input type="text" name="tid" value="{{ tid }}" size=30 readonly><br>
        My ID: <input type="text" name="uid" value="{{ uid }}" size=30 readonly>
        <input type="submit" value="Send">
</form>