<!doctype html>
<title>Unverified transactions</title>
<h1>Unverified transactions</h1>
{% for transaction in transactions %}
        /----------------------------------------<br>
        |  <b>From:</b> {{ transaction.sender }}<br>
        |  <b>To:</b> {{ transaction.receiver }}<br>
        |  <b>Amount:</b> {{ transaction.amount }}<br>
        \----------------------------------------<br>
{% endfor %}