<!doctype html>
<title>Network topology</title>
<h1>Network topology</h1>
{% for peer in topology.peers %}
    /----------------------------------------<br>
    |  <b>Address:</b> <a href={{ peer.address }}>{{ peer.address }}</a><br>
    |  <b>Type:</b> {{ peer.type }}<br>
    |  <b>Active:</b> {{ peer.active }}<br>
    \----------------------------------------<br>
{% endfor %}