<!doctype html>
<title>List of blocks</title>
<h1>List of blocks</h1>
{% for block in chain %}
    <h2>Block #{{ block.index}}:</h2><br>
    <b>Hash:</b> {{ block.hash }}<br>
    <b>Nonce:</b> {{ block.nonce }}</br>
    <b>Timestamp:</b> {{ block.timestamp }}<br>
    <b>Merkle root:</b> {{ block.merkle_root }}<br>
    <b>Transactions in block:</b><br>
        /----------------------------------------<br>
    {% for transaction in block.transactions %}
        |  <b>From:</b> {{ transaction.sender }}<br>
        |  <b>To:</b> {{ transaction.receiver }}<br>
        |  <b>Amount:</b> {{ transaction.amount }}<br>
        \----------------------------------------<br>
    {% endfor %}
{% endfor %}